Compiere/utils_dev/trl/compiereTrl.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--Compiere(tm) Version 2.5.1a/2004-03-15 - Smart ERP & CRM - Copyright (c) 1999-2004 Jorg Janke -->
<!--Compiere Translation file DTD -->
<!ELEMENT compiereTrl (row+)>
<!ATTLIST compiereTrl
	table CDATA #REQUIRED
	language CDATA #REQUIRED
>
<!ELEMENT row (value+)>
<!ATTLIST row
	trl CDATA #IMPLIED
	id CDATA #REQUIRED
>
<!ELEMENT value (#PCDATA)>
<!ATTLIST value
	original CDATA #IMPLIED
	column CDATA #REQUIRED
>
